body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.login-page {
    display: flex;
    flex-direction: column;
}

.login-page .left,
.login-page .right {
    width: 100vw;
    height: 50%;
}

.login-page .right {
    order: 1;
}

.login-page .left {
    order: 2;
}

@media screen and (min-width:800px) {
    .login-page {
        display: flex;
        flex-direction: row;
    }
    .login-page .left,
    .login-page .right {
        width: 50%;
        height: 100vh;
    }
    .login-page .left {
        order: 1;
    }
    .login-page .right {
        order: 2;
    }
}